body {
  color: #fff;
  background-repeat: no-repeat;
  background: linear-gradient(181deg, #000 0.82%, #4A2800 129.1%);
  font-family: Poppins;
  color: #FFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

.container {
  width: 1170px;
  padding: 10px 30px 0 30px;
  margin: 0 auto;
}

.container--big {
  width: 1350px;
}

.subtitle {
  color: #E87D0E;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.2%;
}

.title {
  font-family: Rubik;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
}

.title--main {
  font-size: 50px;
  font-weight: 700;
  line-height: 155.2%;
}

.btn-link {
  color: #FFF;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;
  padding: 15px 30px 14px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  transition: 0.5s;
}
.btn-link:hover {
  background-color: rgba(199, 147, 87, 0.308);
}

.contact__btn {
  font-size: 13px;
  padding: 11px 28px;
  border-radius: 6px;
  background-color: #FA9021;
  transition: background-color 5s, transform 0.5s;
}
.contact__btn:hover {
  background-color: #d16c00;
  transform: scaleX(1.1) translateX(-6px);
}

.bg-gradient-two {
  background: linear-gradient(149deg, #090300 18.81%, rgba(9, 3, 0, 0) 199.4%);
}

.form-box__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
}

.form-box__text--form {
  font-size: 17px;
  line-height: normal;
  width: 636px;
}

.header {
  background-image: url(../image/bg-image.png);
  background-repeat: no-repeat;
  background-position-x: 960px;
}
.header .header-inner {
  padding: 36px 0 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .header-inner .menu {
  display: flex;
  gap: 33px;
}
.header .header-inner .menu__list {
  display: flex;
  align-items: center;
  gap: 88px;
}
.header .header-inner .menu__item {
  padding: 6.8px 17px;
  position: relative;
  transition: color 1s, transform 0.5s;
  overflow: hidden;
}
.header .header-inner .menu__item::before {
  content: url(../image/header/header-befor.svg);
  position: absolute;
  transform: translateY(13px) translateX(-56px);
  transition: all 0.5s;
}
.header .header-inner .menu__item:first-child::before {
  content: url(../image/header/header-befor.svg);
  position: absolute;
  transform: translateY(13px) translateX(-16px);
  transition: all 0.5s;
}
.header .header-inner .menu__item:hover::before {
  position: absolute;
  transform: translateY(13px) translateX(-16px);
}
.header .header-inner .menu__item:hover {
  color: #FA9021;
  transform: scale(1.4);
}
.header .chapter-one {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 178px;
}
.header .chapter-one .main-box {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header .chapter-one .main-box .subtitle {
  margin-bottom: 17px;
}
.header .chapter-one .main-box .title {
  margin-bottom: 26px;
}
.header .chapter-one .main-box__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  margin-bottom: 50px;
}
.header .chapter-one .main-box__btn {
  border-radius: 40px;
  background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
  padding: 15px 31px;
  transition: transform 0.5s linear;
}
.header .chapter-one .main-box__btn:hover {
  transform: scale(1.3);
}

.chapter-two {
  margin-bottom: 129px;
}
.chapter-two .popular-games-box__top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
.chapter-two .popular-games-box__list {
  display: grid;
  grid-template-columns: repeat(4, 251px);
  -moz-column-gap: 47px;
       column-gap: 47px;
}
.chapter-two .popular-games-box__item {
  width: 251px;
  overflow: hidden;
}
.chapter-two .popular-games-box__img-box {
  width: 251px;
  height: 277px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 33px;
}
.chapter-two .popular-games-box__img {
  transition: all 0.5s;
}
.chapter-two .popular-games-box__img:hover {
  transform: scale(1.2);
}
.chapter-two .popular-games-box__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  fill: #fff;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.chapter-two .popular-games-box__link:hover {
  fill: #FA9021;
  color: #FA9021;
}
.chapter-two .popular-games-box__followers-svg {
  fill: inherit;
}
.chapter-two .popular-games-box__followers-text {
  color: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;
}

.chapter-three {
  margin-bottom: 157px;
}
.chapter-three .chapter-three-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Poppins;
}
.chapter-three .chapter-three-box .title {
  text-align: center;
  width: 826px;
}
.chapter-three .chapter-three-box__content-box {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 67px;
  text-align: left;
  background-image: url(../image/chapter-three/bg-item-image.svg);
  background-repeat: no-repeat;
  background-position-x: 820px;
  background-position-y: 180px;
}
.chapter-three .chapter-three-box__text {
  margin-top: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  margin-bottom: 46px;
  width: 545px;
}
.chapter-three .chapter-three-box__img-box {
  width: 1146px;
  height: 462px;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
}
.chapter-three .chapter-three-box__img {
  transition: all 0.5s;
}
.chapter-three .chapter-three-box__img:hover {
  transform: scale(1.2);
}

.chapter-four {
  background-image: url(../image/chapter-four/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.chapter-four .blur {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), rgba(0, 0, 0, 0.54);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.chapter-four .services-box {
  text-align: center;
  padding-bottom: 86px;
}
.chapter-four .services-box .title {
  width: 826px;
}
.chapter-four .services-box__content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-bottom: 6px;
  margin: 93px 0;
}
.chapter-four .services-box__text {
  width: 826px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
}
.chapter-four .services-box__list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 62px;
}
.chapter-four .services-box__list .item5 {
  grid-column: 2/3;
}
.chapter-four .services-box__list .item6 {
  grid-column: 3/4;
}
.chapter-four .services-box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.chapter-four .services-box__item__svg-link {
  transition: all 0.5s;
}
.chapter-four .services-box__item__svg-link:hover {
  transform: translateX(10px);
}
.chapter-four .services-box__svg-box {
  background-color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  transition: 1s cubic-bezier(0.54, 0, 0.53, 1);
}
.chapter-four .services-box__svg-box:hover {
  transform: rotate(360deg);
}

.chapter-five {
  text-align: center;
  margin-bottom: 105px;
}
.chapter-five .latest-projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chapter-five .latest-projects-box__content-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 71px;
  padding-top: 148px;
}
.chapter-five .latest-projects-box__text {
  width: 497px;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
}
.chapter-five .latest-projects-box__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 33px;
  margin-bottom: 72px;
}
.chapter-five .latest-projects-box__img-box__top-box, .chapter-five .latest-projects-box__img-box__bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}
.chapter-five .latest-projects-box__img {
  transition: all 0.5s;
}
.chapter-five .latest-projects-box__img:hover {
  transform: scale(1.2);
}

.chapter-form {
  padding-bottom: 163px;
}
.chapter-form .form-box__contant-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 32px;
  margin-bottom: 74px;
}
.chapter-form .form {
  width: 1170px;
  border-radius: 15px;
  background: #1C140F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 50px 42px 56px;
}
.chapter-form .form__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chapter-form .form__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chapter-form .form__label {
  border-radius: 8px;
  background: #FFF;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapter-form .form__input {
  margin-left: 20px;
  color: #1c140f;
}
.chapter-form .form__input:focus {
  outline: none;
  border: none;
}
.chapter-form .contact__btn {
  margin-right: 6px;
}

.footer {
  background: #070707;
}
.footer__content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.footer__content-box__text {
  padding-bottom: 10px;
  width: 372px;
}
.footer__content-box__link {
  transition: all 700ms;
}
.footer__content-box__link:hover {
  transform: translateX(5px);
  color: #E87D0E;
}
.footer__link-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__link-box__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__link-box__item {
  transition: all 700ms;
}
.footer__link-box__item:hover {
  transform: translateX(5px);
  color: #E87D0E;
}
.footer__contact-box {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer__contact-box__text {
  padding-top: 9px;
  width: 282px;
}
.footer__contact-box__link {
  transition: all 700ms;
}
.footer__contact-box__link:hover {
  transform: translateX(5px);
  color: #E87D0E;
}
.footer .footer-inner {
  padding-top: 79px;
}
.footer .footer-inner .footer-top-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 56px;
}
.footer .footer-inner .footer-top-box .social-media-box {
  display: flex;
  align-items: flex-end;
}
.footer .footer-inner .footer-top-box .social-media-box__list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .footer-inner .footer-top-box .social-media-box__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 14px;
  background-color: #fff;
  border-radius: 45px;
  transition: all 1s;
  border: 1px solid #fff;
}
.footer .footer-inner .footer-top-box .social-media-box__item:first-child {
  padding: 11px 17px;
}
.footer .footer-inner .footer-top-box .social-media-box__item:hover {
  background-color: #000;
  fill: #fff;
}
.footer .footer-inner .footer-top-box .social-media-box__link {
  width: 100%;
  height: 100%;
}
.footer .subtitle-footer {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .footer-bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 0.8px solid #fff;
  padding: 29px 0;
}
.footer .footer-bottom-box__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 190.6%;
  transition: all 700ms;
}
.footer .footer-bottom-box__link:hover {
  transform: scale(1.1);
  color: #E87D0E;
}