body {
  background: linear-gradient(177deg, #050301 -30.15%, #120A01 92.85%);
  font-family: Poppins;
  color: #fff;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

.container {
  width: 1170px;
  padding: 10px 30px 0 30px;
  margin: 0 auto;
}

.container--big {
  width: 1350px;
}

.subtitle {
  color: #E87D0E;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.2%;
}

.title {
  font-family: Rubik;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
}

.title--main {
  font-size: 50px;
  font-weight: 700;
  line-height: 155.2%;
}

.btn-link {
  color: #FFF;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;
  padding: 15px 30px 14px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  transition: 0.5s;
}
.btn-link:hover {
  background-color: rgba(199, 147, 87, 0.308);
}

.contact__btn {
  font-size: 13px;
  padding: 11px 28px;
  border-radius: 6px;
  background-color: #FA9021;
  transition: background-color 5s, transform 0.5s;
}
.contact__btn:hover {
  background-color: #d16c00;
  transform: scaleX(1.1) translateX(-6px);
}

.bg-gradient-two {
  background: linear-gradient(149deg, #090300 18.81%, rgba(9, 3, 0, 0) 199.4%);
}

.form-box__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
}

.form-box__text--form {
  font-size: 17px;
  line-height: normal;
  width: 636px;
}

.header {
  margin-bottom: 110px;
}
.header .header-inner {
  padding: 36px 0 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .header-inner .menu {
  display: flex;
  gap: 33px;
}
.header .header-inner .menu__list {
  display: flex;
  align-items: center;
  gap: 88px;
}
.header .header-inner .menu__item {
  padding: 6.8px 17px;
  position: relative;
  transition: color 1s, transform 0.5s;
  overflow: hidden;
}
.header .header-inner .menu__item::before {
  content: url(../image/header/header-befor.svg);
  position: absolute;
  transform: translateY(13px) translateX(-56px);
  transition: all 0.5s;
}
.header .header-inner .menu__item:nth-child(3)::before {
  content: url(../image/header/header-befor.svg);
  position: absolute;
  transform: translateY(13px) translateX(-16px);
  transition: all 0.5s;
}
.header .header-inner .menu__item:hover::before {
  position: absolute;
  transform: translateY(13px) translateX(-16px);
}
.header .header-inner .menu__item:hover {
  color: #FA9021;
  transform: scale(1.4);
}

.chapter-one {
  margin-bottom: 120px;
}
.chapter-one__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chapter-one__box .information-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 45px;
}
.chapter-one__box .information-box__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;
}
.chapter-one__box .information-box .title {
  font-size: 33px;
}
.chapter-one__box .information-box .subtitle-box {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.5%;
  margin-bottom: 2px;
  transition: 700ms;
}
.chapter-one__box .information-box .subtitle-box:hover {
  transform: scale(1.1);
}
.chapter-one__box .information-box .subtitle-box__link {
  color: #FFF;
}
.chapter-one__box .information-box .subtitle-box .subtitle-smol {
  color: #E47500;
}

.chapter-two .map-box {
  background-image: url(../image/chapter-two/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1060px;
  height: 537px;
  position: relative;
}
.chapter-two .map-box__link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 700ms;
}
.chapter-two .map-box__link:hover {
  transform: scale(1.5);
}
.chapter-two .map-box__link--1 {
  top: 0;
  left: 258px;
}
.chapter-two .map-box__link--2 {
  top: 88px;
  left: 27px;
}
.chapter-two .map-box__link--3 {
  top: 83px;
  left: 105px;
}
.chapter-two .map-box__link--4 {
  top: 91px;
  left: 184px;
}
.chapter-two .map-box__link--5 {
  top: 173px;
  left: 166px;
  transform: scale(2);
}
.chapter-two .map-box__link--6 {
  top: 200px;
  left: 226px;
}
.chapter-two .map-box__link--7 {
  top: 136px;
  left: 273px;
}
.chapter-two .map-box__link--8 {
  top: 233px;
  left: 177px;
  transform: scale(0.8);
}
.chapter-two .map-box__link--9 {
  top: 312px;
  left: 271px;
}
.chapter-two .map-box__link--10 {
  top: 369px;
  left: 307px;
  transform: scale(1.5);
}
.chapter-two .map-box__link--11 {
  top: 352px;
  left: 350px;
}
.chapter-two .map-box__link--12 {
  top: 437px;
  left: 286px;
  transform: scale(0.8);
}
.chapter-two .map-box__link--13 {
  top: 28px;
  left: 339px;
}
.chapter-two .map-box__link--14 {
  top: 13px;
  left: 404px;
  transform: scale(0.7);
}
.chapter-two .map-box__link--15 {
  top: 80px;
  left: 346px;
  transform: scale(0.5);
}
.chapter-two .map-box__link--16 {
  top: 107px;
  left: 506px;
}
.chapter-two .map-box__link--17 {
  top: 167px;
  left: 566px;
  transform: scale(1.2);
}
.chapter-two .map-box__link--18 {
  top: 268px;
  left: 466px;
}
.chapter-two .map-box__link--19 {
  top: 274px;
  left: 557px;
  transform: scale(1.5);
}
.chapter-two .map-box__link--20 {
  top: 386px;
  left: 552px;
  transform: scale(1.3);
}
.chapter-two .map-box__link--21 {
  top: 115px;
  left: 652px;
}
.chapter-two .map-box__link--22 {
  top: 259px;
  left: 706px;
}
.chapter-two .map-box__link--23 {
  top: 212px;
  left: 784px;
  transform: scale(0.6);
}
.chapter-two .map-box__link--24 {
  top: 68px;
  left: 723px;
  transform: scale(0.8);
}
.chapter-two .map-box__link--25 {
  top: 145px;
  left: 752px;
  transform: scale(1.8);
}
.chapter-two .map-box__link--26 {
  top: 89px;
  left: 844px;
}
.chapter-two .map-box__link--27 {
  top: 87px;
  left: 985px;
  transform: scale(1.3);
}
.chapter-two .map-box__link--28 {
  top: 348px;
  left: 803px;
}
.chapter-two .map-box__link--29 {
  top: 414px;
  left: 837px;
}
.chapter-two .map-box__link--30 {
  top: 436px;
  left: 905px;
  transform: scale(0.8);
}

.chapter-three {
  margin-top: 62px;
  margin-bottom: 147px;
}
.chapter-three .main-info-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapter-three .main-info-box__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chapter-three .main-info-box__item:nth-child(1) {
  padding-right: 50px;
}
.chapter-three .main-info-box__item:nth-child(2) {
  padding: 30px 50px 30px 50px;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
}
.chapter-three .main-info-box__item:nth-child(3) {
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.chapter-three .main-info-box__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 189.5%;
  margin-bottom: 18px;
}
.chapter-three .main-info-box__phone-link, .chapter-three .main-info-box__geolocation-link {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 700ms;
}
.chapter-three .main-info-box__phone-link:hover, .chapter-three .main-info-box__geolocation-link:hover {
  transform: scale(1.2);
  fill: #E87D0E;
  color: #E87D0E;
  gap: 15px;
}
.chapter-three .main-info-box .main-social-media-box__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.chapter-three .main-info-box .main-social-media-box__item {
  padding: 11px 11px 10px 10px;
  background-color: #1C140F;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 700ms;
}
.chapter-three .main-info-box .main-social-media-box__item:nth-child(1) {
  padding: 11px 14px 10px 13px;
}
.chapter-three .main-info-box .main-social-media-box__item:hover {
  transform: scale(1.4) rotate(360deg);
}
.chapter-three .main-info-box .main-social-media-box__link {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter-four {
  background-image: url(../image/chapter-four/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 150px;
}
.chapter-four .main-form-box .main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chapter-four .main-form-box .main-form__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 189.5%;
}
.chapter-four .main-form-box .main-form__text {
  padding-bottom: 40px;
}
.chapter-four .main-form-box .main-form__input-list {
  margin-top: 39px;
  display: grid;
  grid-template-rows: 87px 87px 87px 87px 87px;
  grid-template-columns: 322px 322px;
  gap: 20px 27px;
}
.chapter-four .main-form-box .main-form__input-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.chapter-four .main-form-box .main-form__input-item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.chapter-four .main-form-box .main-form__input-item:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 3px;
}
.chapter-four .main-form-box .main-form__input-item__input-name {
  color: #4F4F4F;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 175.4%;
  letter-spacing: -0.3px;
  padding-bottom: 6px;
}
.chapter-four .main-form-box .main-form__input-item__btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%;
  border-radius: 10px;
  background-color: #DC7000;
  padding: 10px 47px 10px 48px;
  transition: all 700ms;
}
.chapter-four .main-form-box .main-form__input-item__btn:hover {
  background-color: rgba(220, 114, 0, 0.6705882353);
}
.chapter-four .main-form-box .main-form__input {
  border-radius: 9px;
  border: 0.6px solid #CECECE;
  background: rgba(255, 255, 255, 0.07);
  padding: 10px;
  width: 100%;
}
.chapter-four .main-form-box .main-form__input--nth-child-4 {
  height: 85%;
}

.chapter-form {
  padding-bottom: 163px;
}
.chapter-form .form-box__contant-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 32px;
  margin-bottom: 74px;
}
.chapter-form .form {
  width: 1170px;
  border-radius: 15px;
  background: #1C140F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 50px 42px 56px;
}
.chapter-form .form__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chapter-form .form__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chapter-form .form__label {
  border-radius: 8px;
  background: #FFF;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapter-form .form__input {
  margin-left: 20px;
  color: #1c140f;
}
.chapter-form .form__input:focus {
  outline: none;
  border: none;
}
.chapter-form .contact__btn {
  margin-right: 6px;
}

.footer {
  background: #070707;
}
.footer__content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.footer__content-box__text {
  padding-bottom: 10px;
  width: 372px;
}
.footer__content-box__link {
  transition: all 700ms;
}
.footer__content-box__link:hover {
  transform: translateX(5px);
  color: #E87D0E;
}
.footer__link-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__link-box__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__link-box__item {
  transition: all 700ms;
}
.footer__link-box__item:hover {
  transform: translateX(5px);
  color: #E87D0E;
}
.footer__contact-box {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer__contact-box__text {
  padding-top: 9px;
  width: 282px;
}
.footer__contact-box__link {
  transition: all 700ms;
}
.footer__contact-box__link:hover {
  transform: translateX(5px);
  color: #E87D0E;
}
.footer .footer-inner {
  padding-top: 79px;
}
.footer .footer-inner .footer-top-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 56px;
}
.footer .footer-inner .footer-top-box .social-media-box {
  display: flex;
  align-items: flex-end;
}
.footer .footer-inner .footer-top-box .social-media-box__list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .footer-inner .footer-top-box .social-media-box__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 14px;
  background-color: #fff;
  border-radius: 45px;
  transition: all 1s;
  border: 1px solid #fff;
}
.footer .footer-inner .footer-top-box .social-media-box__item:first-child {
  padding: 11px 17px;
}
.footer .footer-inner .footer-top-box .social-media-box__item:hover {
  background-color: #000;
  fill: #fff;
}
.footer .footer-inner .footer-top-box .social-media-box__link {
  width: 100%;
  height: 100%;
}
.footer .subtitle-footer {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .footer-bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 0.8px solid #fff;
  padding: 29px 0;
}
.footer .footer-bottom-box__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 190.6%;
  transition: all 700ms;
}
.footer .footer-bottom-box__link:hover {
  transform: scale(1.1);
  color: #E87D0E;
}