@import "vars";
// about
.header {
    margin-bottom: 110px;
    .header-inner {
        padding: 36px 0 34px;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        .menu {
        display: flex;
        gap: 33px;
            &__list {
            display: flex;
            align-items: center;
            gap: 88px;
            }
            &__item{
                padding: 6.8px 17px;
                position: relative;
                transition: color 1s, transform 0.5s;
                overflow: hidden;
                &::before{
                    content: url(../image/header/header-befor.svg);
                    position: absolute;
                    transform: translateY(13px) translateX(-56px);
                    transition: all 0.5s;
                }
                &:nth-child(3)::before{
                    content: url(../image/header/header-befor.svg);
                    position: absolute;
                    transform: translateY(13px) translateX(-16px);
                    transition: all 0.5s;
                }
                &:hover::before{
                    position: absolute;
                    transform: translateY(13px) translateX(-16px);
                }
                &:hover{
                    color: $hoverLinkColor;
                    transform: scale(1.4);
                }
            }
        }
    }
}

