@import "vars";
.chapter-two {
  margin-bottom: 129px;
  .popular-games-box {
    &__top-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 58px;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 251px);
      column-gap: 47px;
    }
    &__item {
      width: 251px;
      overflow: hidden;
    }
    &__img-box{
      width: 251px;
      height: 277px;
      overflow: hidden;
      border-radius: 20px;
      margin-bottom: 33px;
    }
    &__img {
      transition:all 0.5s;
      &:hover{
          transform: scale(1.2);
      }
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      fill: $whiteColor;
      color: $whiteColor;
      transition: 0.5s;
      cursor: pointer;
      &:hover{
          fill: $howerSvgColor;
          color: $hoverLinkColor; 
      }
    }
    &__followers-svg {
      fill: inherit;
    }
    &__followers-text {
      color: inherit;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 187.5%;
    }
  }
}